{{ header | safe}} 
<main role="main" class="inner cover">
    <h1 class="cover-heading">Hacer, Varol</h1>
    <p class="lead">
          <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">Course Number</th>
                <th scope="col">Name</th>
                <th scope="col">Days</th>
                <th scope="col">Time</th>
                <th scope="col">Class Room</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1432</th>
                <td>Java 1</td>
                <td>MWF</td>
                <td>8:00 - 8:50</td>
                <td>202</td>
              </tr>
              <tr>
                <th scope="row">1437</th>
                <td>Java 2</td>
                <td>MWF</td>
                <td>9:00 - 9: 50</td>
                <td>204</td>
              </tr>
            
            </tbody>
          </table>
    </p>

</main>
{{ footer | safe}}